img{
  height: auto;
  max-width: 100%;
  
}
.contactIMG{
  margin-bottom: 0rem;
  padding: 2rem;
  padding-bottom: .2rem;
}

.aboutIMG {
  margin: 0;
  padding-top: 5rem;
  padding-left: 5rem;
}

.mapIMG{
  position: center;
  margin: 2rem;
  text-align: center;
}

.cardIMG {
  width:100%;
}
.logo {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 2.2em;
  float: left;
  z-index: 101;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;

}

/*.logo:hover, .logo:focus {
   opacity: 1;
  }
  */
  .banner{
    /*width:100%;*/
    /*height:33.33%;*/
    
    margin-right: -2rem;
    margin-left: -2rem;
    position:relative;
    background-image: url(../img/online-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

  }

  .title {
    width: 100%;
    height:100%;
    position:relative;
  }


  .banner-paragraph{
    width: 17rem;
    font-size: 1rem;
    display:inline-block;
    text-align: center;
    margin-top:-1rem;
    padding-bottom: 3rem;

  }

  .bg-grey {
    background-color: #F8F8F8;
  }

/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
  */

  body {
    font-family: Verdana, sans-serif;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #FAFAFA;
  }

  h1, h2, h3, h4, h5, h6 { 
    font-family: 'proximanova-semibold-webfont', serif; 
  }

  p {
    font-family: 'proximanova-regular-webfont', serif;
  }

  section:not([id]) {
    /*margin: 1em 0; */ 
  }

  .h2-padding {
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
  }

  section p {
    margin-top: 0;

  }

  section code {
    background-color: #EEE;
    /*padding: 0.5em 0.75em;*/
  }

/* 
  INTERACTIVE ELEMENTS -------------------
  */

  /* Styling for the navigation button */
  nav {
    /*fix the position of the navigation to the top*/
    position: absolute;
    /*postion is set to top of the screen*/
    top: 0;
    right: 0em;
    /*z-index makes it above all other elements*/
    z-index: 100;
    width: 100%;
  }
  .button-nav {
    width: 100%;
    display: inline-block;
    padding: 0.5em 0.75em;
    color: rgba(240,240,240,1);
    background-color: #2ECC71;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
    /*-webkit-transition: border-bottom-color 0.5s ease-out;
    transition: border-bottom-color 0.5s ease-out;*/
  }

  .button-nav:hover, .button-nav:focus, .logo:hover, .logo:focus {
    background-color: #27AE60;
    /*background-color: rgba(67,133,166,1);*/
    opacity: 1;
  }

  .button {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #FFF;
    background-color: #277ac2;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }

  .button:hover, .button:focus {
    background-color: #8ab9e2;
  }

  .button_right {
    display: inline-block;
    width: auto;
    padding: 0.5em 0.75em;
    color: #FFF;
    position: center;

    
    background-color: #277ac2;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
  /* i am having trouble getting this to position properly, ask andrew */
  .button_banner {
    z-index: 2;
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #FFF;
    position: relative;
    bottom: 200px;
    left: 38.7%;
    
    background-color: #277ac2;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }

  .button_right:hover, .button_right:focus, .button_banner:hover, .button_banner:focus {
    background-color: #8ab9e2;
  }

  .center-button {
    position: center;
    text-align: center;
  }

  .search-area {
    padding: 1rem 0;
    padding-bottom: .5rem;
    background: #e6e6e6;
    position:relative;
    margin: -1em;
    margin-right: -2rem;
    margin-left: -2rem;
    box-shadow: 0 1.5px 3px 0 rgba(0,0,0,0.2);
  }

  .footer-area {
    padding: 1rem 0;
    padding-bottom: 3rem;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    position:relative;
    
    margin-top: 1rem;
    margin-bottom: -6rem;

    margin-right: -2rem;
    margin-left: -2rem;
    
  }
  .footer-textarea{
    text-align:center;
  }
  .footer-link {
    text-align: center;
    text-decoration: none;
    padding: .5rem;
    font-size: .9rem;
    display: inline-block;
    color: rgba(255,255,255,1);
    
    -webkit-transition: text-decoration 0.1s ease-out;
    transition: text-decoration 0.1s ease-out;
  }
  .footer-link:hover, .footer-link:focus{
    text-decoration: underline;
  }

  .footer-title-middle {
    color: rgba(255,255,255,1);
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;

  }
  .title-middle {
    font-size: 3rem;
    text-align: center;
    margin-bottom: -1rem;
    padding: 2rem;
    padding-bottom:0;
  }
  .banner-textarea{
    text-align:center;
  }

  .about-banner {
    padding: 1rem 0;
    padding-bottom: .5rem;
    background: #e6e6e6;
    position:relative;
    margin: -1em;
    margin-right: -2rem;
    margin-left: -2rem;
    box-shadow: 0 1.5px 3px 0 rgba(0,0,0,0.2);
  }

  .link {
    color: #000;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }

  .link:hover, .link:focus {
    color: #D8B480;

  }

  .submit {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #000;
    background-color: #DBD3D8;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
  .submit:hover, .submit:focus {
    background-color: #D8B480;

  }
  .textbox {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #000;
    background-color: #DBD3D8;
  }

  .card {
    display: inline-block;
    margin: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover, .card:focus {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: .5;
  }

  .card a {
    text-decoration: none;
  }

  .card-container {
    padding: .5rem;
  }

  .card-container-centre {
    text-align: center;
  }

  .text-middle {
    font-size: 2rem;
    text-align: center;
    padding-top:1rem;
    font-family: 'proximanova-semibold-webfont', serif;
    margin-bottom: 1rem;
  }

  .small-text-middle {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .text-left {
    font-size: 2rem;
    text-align: left;
    font-family: 'proximanova-semibold-webfont', serif;
    margin-bottom: 1rem;
  }

  .small-text-left {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .h3-left {
    text-align: left;
  }

  p {
    font-size: 1.2rem;
    /*padding: .5rem;*/
    text-align: left;
  }

  ol, ul {
    font-size: .8rem;

  }

  div {
    display: block;
  }

  textarea {
    width:100%;
    display: block;
    height: 20rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

/* 
  COMBINED ELEMENTS -------------------
  */
  figcaption {
    font-size: .7rem;
  }

  input {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1em;
  }
  .review {
    width:100%;
    height: 5rem;
  }

  label {
    display: block;
    font-size: .8em;
    text-decoration: none;
  }

  .calcInput{
    font-size: 2.4em;
    background-color: transparent;
    text-align: center;
    border-width: 0;
    width: 100%;
    margin: 0 0 .1em 0;
    color: #000;
  }


  .box {
    /* basics */
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,1);
    text-align: center;
    text-decoration:none;
    display: inline-block;

    /* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 8.5em;
    margin: 1em auto; 
    margin-left: 2em;
    margin-right: 2em;


  }
